<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<div class="container">
  <div class="row" style="height: 30px"></div>
  <div class="row">
    <div class="col-md-8 col-centered tancolor" style="padding: 0">
      <div style="background-color: black">
        <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Contact</p>
      </div>
      <%= image_tag "wk4_wordmark_black.png", style: 'padding-left: 25px', class: "img-responsive", width: 300%>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
          <div class="col-md-7 col-centered">
            <%= form_tag url_for(:controller => 'static_pages', :action => 'send_message'), :method => 'get' do%>
                <%= text_field_tag :name, nil, class: 'form-control addmargin', placeholder: "Name", :style => "color: black" %>
                <%= text_field_tag :email, nil, class: 'form-control addmargin', placeholder: "example@email.com", :style => "color: black" %>
                <%= text_area_tag :message, nil, class: 'form-control addmargin', rows: 10, placeholder: "Enter message here"  %>
                <div class="center-block" style="display: block; float: none; text-align: center; margin-left: auto; margin-right: auto">
                  <%= submit_tag "Send", class: "btn btn-primary addmargin button_width"%>
                </div>
            <% end %>
          </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%">
      <br>
    </div>
  </div>
</div>

