<!--<div id="filterrific_results">

  <div>

  </div>
    <ul class="users">
      <%# users.each do |user| %>

          <%# if true %>
              <li>
                <%# link_to user, class: 'disable_hover' do %>
                <div class="color_1 div_button">
                  <table width="100%">
                    <tr>
                      <td width="200px">
                        <div class="profile_pic3">
                          <%# if user.picture?%>
                              <%#= image_tag user.picture.url, class: "img-thumbnail", width: 150, height: 150%>
                          <%# else %>
                              <%#= image_tag "no_profile.png", class: "img-thumbnail", width: 150, height: 150  %>
                          <%# end %>
                        </div>
                      </td>
                      <td style="padding-top: 10px">
                        <table width="100%">
                          <tr >
                            <td width="50%" class="color_2">
                              <p class="paragraph_text" style="margin-left: 10px"><strong>Name:</strong> <%#= user.name %></p>
                            </td>
                            <td width="50%" class="color_2">
                              <p class="paragraph_text"><strong>Location:</strong> <%#=  user.location %>, <%#= user.province %></p>
                            </td>
                          </tr>
                          <tr>
                            <td class="color_4" colspan="2" style="padding-left: 10px" align="center">
                              <p class="paragraph_text"><%#=simple_format(word_wrap(make_paragraph(user.getExperience + "......", 55), class: 'paragraph_text')) %></p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <%# end %>
                </div>
          <%# end %>
          <%# if current_company.nil? %>
              <%#if current_user.admin? && !current_user?(user) %>
                  <%#= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
              <%# end%>
              </li>
          <%# end %>
      <%# end %>
    </ul>
</div>
-->

<div class="container-fluid" id="filterrific_results">
  <div class="row" style="padding-top: 25px">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <% if users.count == 0 %>
          <h1>No job professionals returned.</h1>
      <% else %>
          <p>Displaying <%= pluralize(users.count, "Professional") %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <% num = 1 %>
      <% users.each do |user| %>
          <%= link_to user, class: 'disable_hover' do %>
              <div class="row div_button rowcolor<%= num %> rowcolor<%= num %>button" style="height: 230px; overflow: hidden">
                <div class="col-md-4">
                  <table>
                    <tr>
                      <td width="115px">
                        <div style="margin-top: 15px">
                          <% if user.picture?%>
                              <%= image_tag user.picture.url, class: "img-responsive", width: 100, height: 150%>
                          <% elsif !(user.profileurl.nil? || user.profileurl.blank?) %>
                              <%= image_tag user.profileurl, class: "img-responsive", width: 100, height: 150 %>
                          <% else %>
                              <%= image_tag "no_profile.png", class: "img-responsive", width: 100, height: 150  %>
                          <% end %>
                        </div>
                      </td>
                      <td>
                        <h1 class="narrowfont3"><%= user.name %> <%= user.lastname %></h1>
                      </td>
                    </tr>
                    <tr>
                      <td class="narrowfont4" colspan="2">
                        <h4><%= user.profession unless user.profession.blank? %></h4>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="narrowfont5">
                        <%=  user.location %>, <%= user.province %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="narrowfont5">
                        <%= pluralize(user.years, "Year") unless user.years.blank? %> of Experience
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-8" style="height: 230px">
                  <div class="paragraph" style="vertical-align: middle; padding-top: 50px">
                    <% if !user.experience.blank? && user.experience.size() > 500 %>
                        <p><%= user.experience[0..500] + "......" unless user.experience.blank? %></p>
                    <% else %>
                        <p><%= user.experience unless user.experience.blank? %></p>
                    <% end %>
                  </div>
                  <p class="copyright text-muted small" style="right: 10px; bottom: 10px; position: absolute">Active for <%= time_ago_in_words(user.created_at) %>.</p>
                </div>
              </div>
          <% end %>

          <br>
          <% num == 1 ? num = 2 : num = 1 %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col=md-10">
      <%= will_paginate users %>
    </div>
  </div>
</div>