<h1 class="profile_title">Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :experience %>
        <%= f.text_area :experience, class: 'form-control', :rows => "10" %>

        <%= f.label :accomplishment, "Accomplishments" %>
        <%= f.text_area :accomplishment, class: 'form-control', :rows => "10" %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>