<div class="accommodate_alert"></div>

<h1 class="profile_title">Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :experience %>
        <%= f.text_area :experience, class: 'form-control', :rows => "10" %>

        <!--
        <%= f.label :accomplishment, "Accomplishments" %>
        <%= f.text_area :accomplishment, class: 'form-control', :rows => "10" %>
        -->
        <%= f.label :picture, "Picture Upload" %>
        <span class="picture">
         <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg,image/gif,image/png'%>
        </span>

        <%= f.label :resume, "Resume Upload" %>
        <span class="picture">
         <%= f.file_field :resume, class: 'form-control', accept: 'image/jpeg,image/gif,image/png,application/pdf' %>
        </span>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>