<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<div class="container" style="padding-top: 30px">
  <div class="row">
    <div class="col-md-8 col-centered tancolor" style="padding: 0">
      <div style="background-color: black">
        <% if current_user.location.blank? || current_user.experience.blank? %>
            <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Complete Profile</p>
        <% else %>
            <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Edit Profile</p>
        <% end %>

      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <div class="col-centered" style="width: 80%">
        <%= form_for(@user, html: { multipart: true }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <table width="100%">
              <tr>
                <td colspan="1" style="padding-right: 10px;">
                  <div class="form-group" >
                    <%= f.label :province, "*Province" %>
                    <%= f.select :province, getProvinces %>
                  </div>
                </td>
                <td colspan="1">
                  <div class="form-group" style="padding-right: 10px; padding-left: 10px">
                    <%= f.label :location, "*City" %>
                    <%= f.select :location, getCities %>
                  </div>
                </td>
                <td>
                  <div class="form-group" style="padding-left: 10px">
                    <%= f.label :sector, "*Industry" %>
                    <%= f.select :sector, getType %>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="1" style="padding-right: 10px">
                  <div class="form-group">
                    <%= f.label :years, "*Years of Experience" %>
                    <%= f.text_field :years, placeholder: 'e.g. 25', class: 'form-control' %>
                  </div>
                </td>
                <td colspan="2" style="padding-left: 10px">
                  <div class="form-group">
                    <%= f.label :profession, "*Job Title" %>
                    <%= f.text_field :profession, placeholder: 'e.g. Senior Tax Accountant', class: 'form-control' %>
                  </div>
                </td>
              </tr>
            </table>

            <script>
              jQuery(document).ready(function($) {
                  updateCountDown();
                  $('.countchar').change(updateCountDown);
                  $('.countchar').keyup(updateCountDown);

                  function updateCountDown() {
                      var chars = 500 - jQuery('.countchar').val().length;
                      jQuery('.displaycount').text(' Characters Remaining: ' + chars)
                  }
              })


            </script>
            <div class="form-group">
              <%= f.label :experience, "*Accomplishments" %><span class="displaycount"></span>
              <%= f.text_area :experience, placeholder: 'Describe a few of your accomplishments. Max 500 characters.', class: 'countchar', :rows => "7" %>
            </div>

            <div class="form-group">
              <%= f.label :skill_list, "Skills" %><span> (separated with a comma)</span>
              <%= f.text_field :skill_list, placeholder: 'e.g. Communication, Organization, Teamwork', value: @user.skill_list.to_s, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :education_list, "Education" %><span> (separated with a comma)</span>
              <%= f.text_field :education_list, placeholder: 'e.g. University of Toronto BSc, Rotman MBA', value: @user.education_list.to_s,  class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :looking_list, "Looking For " %><span> (separated with a comma)</span>
              <%= f.text_field :looking_list, placeholder: 'e.g. local work, part-time, accounting', value: @user.looking_list.to_s,  class: 'form-control' %>
            </div>

            <!--
        <%= f.label :accomplishment, "Accomplishments" %>
        <%= f.text_area :accomplishment, class: 'form-control', :rows => "10" %>
        -->

            <table  width="100%">
              <tr>
                <td style="padding-right: 10px">
                  <div class="form-group">
                <span class="picture">
                <%= f.label :picture, "Picture Upload" %>
                  <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg,image/gif,image/png'%>
              </span>
                  </div>
                </td>
                <td style="padding-left: 10px">
                  <div class="form-group">
                <span class="picture">
                  <%= f.label :resume, "Resume Upload" %>
                  <%= f.file_field :resume, class: 'form-control', accept: 'image/jpeg,image/gif,image/png,application/pdf' %>
                </span>
                  </div>
                </td>
              </tr>
            </table>
            <div class="center-block" style="display: block; float: none; text-align: center; margin-left: auto; margin-right: auto">
              <%= f.submit "Save Changes", class: "btn btn-primary button_width2" %>
            </div>
        <% end %>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <br>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>