<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<div class="container-fluid" style="padding-top: 30px">
  <div class="row" style="background-color: black">
    <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Manage Applications</p>
  </div>

  <div class="row  bluecolor" style="min-height: 500px">
    <div class="col-md-12 col-centered" style="padding-top: 40px">
      <div class="col-md-10 col-centered">
        <ul class="nav nav-tabs bw">
          <li class="active"><a data-toggle="tab" href="#home">Matches</a></li>
          <li><a data-toggle="tab" href="#menu1">Job Offers</a></li>
          <li><a data-toggle="tab" href="#menu2">Pending Applications</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <% if @matched.size == 0 %>
                <h1 class="center-block">No job matches yet.</h1>
            <% else %>
                <table class="table table-hover bluetable">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Date Posted</th>
                    <th>Date Matched</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @matched.each do |app| %>
                      <tr>
                        <td><%= app.job_posting.title %></td>
                        <td><%= app.job_posting.company.name %></td>
                        <td><%= Date.parse app.job_posting.created_at.to_s %></td>
                        <td><%= Date.parse app.updated_at.to_s %></td>
                        <td><%= link_to "View Job", app.job_posting %> | <%=link_to "View Company", app.job_posting.company %> | <a href="mailto:<%= app.job_posting.company.email%>">Email</a> | <%= link_to "Delete", applicant_path(app.id), :method => 'delete'%></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
          </div>
          <div id="menu1" class="tab-pane fade">
            <div id="requiredjobs">
              <%= render partial: "matched_jobs" %>
            </div>
          </div>
          <div id="menu2" class="tab-pane fade">
            <% if @pending.size == 0 %>
                <h1 class="center-block">No pending jobs yet.</h1>
            <% else %>
                <table class="table table-hover bluetable">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Date Posted</th>
                    <th>Date Sent</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @pending.each do |app| %>
                      <tr>
                        <td><%= app.job_posting.title %></td>
                        <td><%= app.job_posting.company.name %></td>
                        <td><%= Date.parse app.job_posting.created_at.to_s %></td>
                        <td><%= Date.parse app.updated_at.to_s %></td>
                        <td><%= link_to "View Job", app.job_posting %> | <%=link_to "View Company", app.job_posting.company %> |  <%= link_to "Delete", applicant_path(app.id), :method => 'delete'%></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
          </div>
        </div>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 81%;">
      <br>
    </div>
  </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59614405-1', 'auto');
    ga('send', 'pageview');

</script>