<div class="accommodate_alert"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-centered tancolor" style="padding: 0">
      <div style="background-color: black">
        <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Professionals Sign Up</p>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <div class="col-md-6 col-centered">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <table>
              <tr>
                <td style="padding-right: 10px">
                  <div class="form-group">
                    <%= f.label :name, "First Name" %>
                    <%= f.text_field :name, placeholder: 'First', class: 'form-control' %>
                  </div>
                </td>
                <td style="padding-left: 10px">
                  <div class="form-group">
                    <%= f.label :lastname, "Last Name" %>
                    <%= f.text_field :lastname, placeholder: 'Last', class: 'form-control' %>
                  </div>
                </td>
              </tr>
            </table>


            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, placeholder: 'john@example.com', class: 'form-control' %>
            </div>


            <!--
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control addmargin2' %>

        <%= f.label :experience, "Experience Summary:" %>
        <%= f.text_area :experience, class: 'form-control addmargin2', :rows => "10" %>

        <% f.label :accomplishment, "Accomplishments" %>
        <%= f.text_area :accomplishment, class: 'form-control addmargin2', :rows => "10" %>
        -->
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: 'Minimum 6 characters', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Password Confirmation" %>
              <%= f.password_field :password_confirmation, placeholder: 'Re-enter password', class: 'form-control' %>
            </div>
            <div class="center-block" style="display: block; float: none; text-align: center; margin-left: auto; margin-right: auto">
              <%= f.submit "Create my account", class: "btn btn-primary button_width2" %>
            </div>
        <% end %>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <br>
    </div>
  </div>
</div>
