<div class="row">
      <h1>
        <%= @user.name %>
      </h1>
    <div style="display: inline-block" class="col-md-6">
      <br>
      <%= @user.email %>
      <br>
      <%= @user.location %>
      <br><br>
      <div style="word-break: break-all; white-space: normal">
        <%=simple_format(word_wrap(@user.experience, line_width: 50)) %>
      </div>
      <br><br>
      <div style="word-break: break-all; white-space: normal">
        <%=simple_format(word_wrap(@user.accomplishment, line_width: 50)) %>
      </div>
      </div>
      <div style="display: inline-block" align="right" class="col-md-6">
        <% unless current_company.nil? || @job_array.nil? %>
            <%= form_tag url_for(:controller => 'applicants', :action => 'create'), :method => 'post' do  %>
                <%= hidden_field_tag :user_id, @user.id %>
                <%= select_tag "job_id", options_from_collection_for_select(@job_array, "id", "title") %>
                <%= submit_tag "Recruit?", class: "btn btn-primary" %>
            <% end %>
        <% end %>

        <% unless @apps.nil? %>
            <% @apps.each do |app| %>
                <%=link_to app.job_posting.title, app.job_posting %>
                <%= app.job_posting.location %>
                <%= app.job_posting.company.name %>

                <% if app.userAccept == false %>
                    <%= form_tag url_for(:controller => 'applicants', :action => 'update'), :method => 'patch' do  %>
                        <%= submit_tag "Accept?", class: "btn btn-primary" %>
                    <% end %>
                <% elsif app.compAccept == false %>
                    <p style="color: grey; background-color: yellow; width: 50px">Pending</p>
                <% else %>
                    <p style="color: white; background-color: darkgreen; width: 50px">Match</p>
                <% end %>
                <br>
            <% end %>
        <% end %>
      </div>
</div>

