<div class="container-fluid  fixed" style="margin-top: 20px; z-index: 4">
  <div class="row">
    <div class="col-md-4 alertborder" style="float: left; margin-left: 5px">
      <table>
        <tr>
          <td>
            <p style="text-align: center">This is the appearance of your profile that is visible to companies.</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center">
            <%= link_to "HOME", current_user, class: "btn btn-primary addmargin textwhite"%>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid" style="z-index: 3;">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <h1 class="userheaderfont2"><%= @user.name unless @user.name.blank? %>  <%= @user.lastname unless @user.lastname.blank? %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="background-color: white">
    </div>
    <div class="col-md-10 nopadding" style="background-color: #EEE6DB">
      <table width="100%">
        <tr>
          <td width="160px">
            <% if @user.picture? %>
                <%= image_tag @user.picture.url, class: "img-responsive", width: 150, height: 150 %>
            <% elsif !(@user.profileurl.nil? || @user.profileurl.blank?) %>
                <%= image_tag @user.profileurl, class: "img-responsive", width: 150, height: 150 %>
            <% else %>
                <%= image_tag "no_profile.png", class: "img-responsive", width: 150, height: 150  %>
            <% end %>
          </td>
          <td style="position: relative">
            <table style="position: absolute; bottom: 0px; width: 100%">
              <tr>
                <td class="narrowfont">
                  <%= @user.profession.upcase unless @user.profession.blank? %>
                </td>
              </tr>
              <tr>
                <td>
                  <p><%= @user.location.upcase unless @user.location.blank? %>, <%= @user.province.upcase unless @user.province.blank? %></p>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <h5><%= pluralize(@user.years, 'YEAR').upcase + ' EXPERIENCE' unless @user.years.blank? %></h5>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <table width="100%">
        <tr>
          <td style="padding-top: 15px">
          </td>
        </tr>
        <tr>
          <td>
            <p class="hoursperweek"><%= @user.name.split(' ')[0] + "'s Experience"  unless @user.name.blank? %></p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="paragraph">
              <p class="two-col"><%= @user.experience unless @user.experience.blank? %></p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 10px">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <% if @user.skill_list.count != 0 %>
          <h5 class="headerfont">Skills</h5>
          <div  class="tancolor">
            <% @user.skill_list.each do |skill| %>
                <div class="tagcolor" style="margin: 5px; padding-left: 5px; padding-right: 5px; padding-top: 7px; display: inline-block">
                  <p class="tagfont" style="color: white; vertical-align: middle"><%= skill.upcase %></p>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if @user.looking_list.count != 0 %>
          <h5 class="headerfont">Looking For</h5>
          <div  class="tancolor">
            <% @user.looking_list.each do |skill| %>
                <div class="tagcolor" style="margin: 5px; padding-left: 5px; padding-right: 5px; padding-top: 7px; display: inline-block">
                  <p class="tagfont" style="color: white; vertical-align: middle"><%= skill.upcase %></p>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <% if @user.education_list.count != 0 %>
        <h3 class="headerfont">Education</h3>
          <div  class="tancolor">
            <% @user.education_list.each do |skill| %>
                <div class="tagcolor" style="margin: 5px; padding-left: 5px; padding-right: 5px; padding-top: 7px; display: inline-block">
                  <p class="tagfont" style="color: white; vertical-align: middle"><%= skill.upcase %></p>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">

    </div>
  </div>

</div>