<p> Company: </p><%= jobpostings.company.name%>
<p> Title </p><%= jobpostings.title %>
<p> Location </p><%= jobpostings.location %>
<p> Description </p><%= jobpostings.description %>
<p> Posted:</p><%= time_ago_in_words(jobposting.created_at) %> <p> ago.</p>