<div class="row">
  <div class="col-md-8 col-centered" style="padding-top: 50px">

    <h1 style="text-align: center">All Jobs</h1>
    <table class="table table-hover" style="background-color: lightblue">
      <thead>
      <tr>
        <th>Job Title</th>
        <th>Posting Company</th>
        <th>Email</th>
        <th>Posted</th>
        <th>Views</th>
        <th>Applicants</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.company.name %></td>
            <td><%= job.company.email %></td>
            <td><%= time_ago_in_words(job.created_at) %></td>
            <td><%= job.views %></td>
            <td><%= job.applicants.count %></td>
            <td><%= link_to "View", job %> | <%= link_to "Delete", { controller: "companies", action: "adminjobs", delete: true, job_id: job.id }, remote: true %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @jobs, :param_name => 'jobs_page' %>

  </div>
</div>