<div class="accommodate_alert"></div>

<% if current_company.website.blank? || current_company.location.blank? || current_company.size.blank? || current_company.description.blank? %>
    <h1 class="profile_title">
      Complete Profile
    </h1>
<% else %>
    <h1 class="profile_title">
      Edit Profile
    </h1>
<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@company, html: { multipart: true}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :size, "Number of Employees" %>
        <%= f.text_field :size, class: 'form-control' %>

        <%= f.label :website, "Company Website" %>
        <%= f.text_field :website, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', :rows => "10" %>

        <%= f.label :picture, "Picture Upload" %>
        <span class="picture">
         <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg,image/gif,image/png'%>
        </span>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>