<div class="row">
    <section class="user_info">
      <h1>
        <%= @company.name %>
      </h1>
      <br>
      <%= @company.email %>
      <br>
      <%= @company.location %>
      <br><br>
      <%= @company.size %>
      <br><br>
      <%= @company.description %>
    </section>
</div>

