<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 alertborder" style="float: right; margin-left: 60%; margin-top: 30px; position: absolute; z-index: 5">
      <table>
        <tr>
          <td>
            <p style="text-align: center">This is the appearance of your profile that is visible to professionals.</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center">
            <%= link_to "HOME", current_company, class: "btn btn-primary addmargin textwhite"%>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <h1 class="jobindexfont"><%= @company.name.upcase unless @company.name.blank? %></h1>
    </div>
  </div>
  <div class="row navycolor">
    <!--<div class="col-md-3" style="padding: 0; min-height: 200px">-->
    <div class="col-md-3 centerframe300" style="padding: 0; min-height: 200px">
      <% if @company.picture?%>
          <%# image_tag @company.picture.url, class: "img-responsive", width: 300, height: 300 %>
          <%= image_tag @company.picture.url, class: "img-responsive  centerimg hw300" %>
      <% else %>
          <%# image_tag "no_company_pic.png", class: "img-responsive", width: 300, height: 300  %>
          <%= image_tag "no_company_pic.png", class: "img-responsive  centerimg hw300" %>
      <% end %>
    </div>
    <div class="col-md-8 navycolor">

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered" style="margin-top: -40px; background-color: white; border-radius: 4px">
      <ul class="nav nav-tabs" style="padding-top: 10px">
        <li class="active"><a data-toggle="tab" href="#mission">Mission</a></li>
        <li><a data-toggle="tab" href="#contact">Contact</a></li>
        <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
      </ul>

      <div class="tab-content yellowcolor">
        <div id="mission" class="tab-pane fade in active" style="padding: 15px">
          <div class="paragraph">
            <p class="two-col"><%= @company.description unless @company.description.blank? %></p>
          </div>
        </div>
        <div id="contact" class="tab-pane fade" style="padding: 15px">
          <table>
            <tr>
              <td style="vertical-align: top; padding-right: 10px">
                <table>
                  <tr>
                    <td width="100px">
                      <p><strong>Location:</strong></p>
                    </td>
                    <td>
                      <p><%= @company.location unless @company.location.blank? %>, <%= @company.province unless @company.province.blank? %></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><strong>Website:</strong></p>
                    </td>
                    <td>
                      <p><%= @company.website unless @company.website.blank? %></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><strong>Email:</strong></p>
                    </td>
                    <td>
                      <p><%= @company.email unless @company.email.blank? %></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><strong>Employees:</strong></p>
                    </td>
                    <td>
                      <p><%= @company.size unless @company.size.blank? %></p>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <iframe
                width="550"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAyc-rr8ft5jdmvdu6vzI7A802UEXVcv_M
    &q=<%= @company.location %>+<%= @company.province %>">
                </iframe>
              </td>
            </tr>
          </table>
        </div>
        <div id="jobs" class="tab-pane fade" style="padding: 15px">
          <table class="table table-hover yellowtable" style="border-color: black; border-width: 2px; border-radius: 5px">
            <thead>
            <tr>
              <th>Title</th>
              <th>Sector</th>
              <th>Hours Per Week</th>
              <th>Link</th>
            </tr>
            <tbody>
            <% @jobs.each do |job| %>
                <tr>
                  <td><%= job.title unless job.title.blank? %></td>
                  <td><%= job.sector unless job.sector.blank? %></td>
                  <td><%= job.hours unless job.hours.blank? %></td>
                  <td><%= link_to 'View', job %></td>
                </tr>
            <% end %>
            </tbody>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>