<div class="container-fluid" id="filterrific_results">
  <div class="row" style="padding-top: 25px">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <%if job_postings.count == 0 %>
           <h1>No job postings returned.</h1>
      <% else %>
          <p>Displaying <%= pluralize(job_postings.count, "Job Posting") %></p>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <% num = 1 %>
      <% job_postings.each do |job| %>
          <%= link_to job, class: 'disable_hover' do %>
            <div class="row div_button rowcolor<%= num %> rowcolor<%= num %>button" style="height: 230px; overflow: hidden">
              <div class="col-md-5">
                <table>
                  <tr>
                    <td width="115px">
                      <div class="centerframe100" style="margin-top: 15px">
                        <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                      <!--<div style="margin-top: 15px" class="centerframe100">-->
                        <% if job.company.picture?%>
                            <%= image_tag job.company.picture.url, class: "hw100" %>
                            <%# image_tag job.company.picture.url, class: "img-responsive hw100"%>
                        <% else %>
                            <%= image_tag "no_company_pic.png", class: "hw100"  %>
                            <%# image_tag "no_company_pic.png", class: "img-responsive hw100" %>
                        <% end %>
                      </div>
                    </td>
                    <td>
                      <h1 class="narrowfont3"><%= job.company.name.upcase unless job.company.name.blank? %></h1>
                    </td>
                  </tr>
                  <tr>
                    <td class="narrowfont4" colspan="2">
                      <h4><%= job.title unless job.title.blank? %></h4>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="narrowfont5">
                      <%= job.location unless job.location.blank? %>, <%= job.province unless job.province.blank? %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="narrowfont5">
                      <%= pluralize(job.hours, "Hour") unless job.hours.blank? %> Per Week
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-7" style="height: 230px">
                <div class="paragraph" style="vertical-align: middle; padding-top: 50px">
                  <% if !job.description.blank? && job.description.size() > 500 %>
                      <p><%= job.description[0..500] + "......" %></p>
                  <% else %>
                      <p><%= job.description %></p>
                  <% end %>
                </div>
                <p class="copyright text-muted small" style="right: 10px; bottom: 10px; position: absolute">Posted <%= time_ago_in_words(job.created_at) %> ago.</p>
              </div>
            </div>
          <% end %>

          <br>
        <% num == 1 ? num = 2 : num = 1 %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col=md-10">
      <%= will_paginate job_postings %>
    </div>
  </div>
</div>