<div class="accommodate_alert"></div>

<h1 class="profile_title">
  My Jobs
</h1>
<div align="center">
  <div class="row">
    <div style="width: 80%; padding-top: 20px" >

      <% if @company.job_postings.any? %>

          <%= will_paginate @jobpostings %>

          <% @jobpostings.each do |jobposting| %>
              <div class="div-back-border" >
                <table width = 80%>
                  <tr>
                    <td colspan="3">
                      <p style="display: inline; margin-right: 20%"><strong>Title: </strong><%= jobposting.title %></p>
                      <p style="display: inline" align="right"><strong>Location: </strong><%= jobposting.location %></p>
                    </td>
                  </tr>
                  <tr>
                    <br>
                  </tr>
                  <tr>
                    <td>
                      <p><strong>Description: </strong></p>
                      <div class="blurb">
                        <%= simple_format(word_wrap(jobposting.description, line_width: 200)) %>
                      </div>
                    </td>
                  </tr>
                </table>
                <div style="display: inline">
                  <div style="display: inline" align="center">
                    <div style="width: 30%;">
                      <%= button_to "Remove", jobposting, class: "btn btn-primary", method: :delete%>
                    </div>
                  </div>
                  <div style="width: 30%; display: inline">
                    <p class="copyright text-muted small" align="right" style="margin-right: 10%"> Posted <%= time_ago_in_words(jobposting.created_at) %> ago.</p>
                  </div>
                </div>
              </div>
              <br>
          <% end %>

          <%= will_paginate @jobpostings %>

      <% else %>
          <h3 align="center"> No job postings made yet.</h3>
        <div align="center">
          <div style="width: 30%;">
            <%= button_to "Post Job?", new_job_posting_path, class: "btn btn-primary", method: :get%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
