<div class="accommodate_alert"></div>

<h1 class="profile_title">
  My Jobs
</h1>
<div align="center">
  <div class="row">
    <div style="width: 80%; padding-top: 20px" >

      <% if @company.job_postings.any? %>

          <%= will_paginate @jobpostings %>

          <% @jobpostings.each do |jobposting| %>
                  <div class="col-md-8 color_1" style="margin-bottom: 20px">
                    <div>
                      <table width = 100%>
                        <tr>
                          <td colspan="3" class="color_2">
                            <p style="display: inline; margin-right: 20%"><strong>Title: </strong><%= jobposting.title %></p>
                            <p style="display: inline" align="right"><strong>Location: </strong><%= jobposting.location %></p>
                          </td>
                        </tr>
                        <tr>
                          <br>
                        </tr>
                        <tr>
                          <td>
                            <p><strong>Description: </strong></p>
                            <div class="blurb">
                              <%= simple_format(make_paragraph(jobposting.description , 80)) %>
                            </div>
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td>
                            <div style="padding: 5px">
                              <%= button_to "Edit", edit_job_posting_path(jobposting), class: "btn btn-warning button_width", method: :get%>
                            </div>
                          </td>
                          <td>
                            <div style="padding: 5px">
                              <%= button_to "Remove", jobposting, class: "btn btn-primary button_width", method: :delete%>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-xs-2 color_3" style="min-height: 100%">
                    <table>
                      <tr>
                        <td>
                          <%= pluralize(jobposting.views, 'Job View') %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= pluralize(Applicant.where(" job_posting_id = ?", jobposting.id).count, 'Applicant') %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <%= pluralize(Applicant.where(" job_posting_id = ?", jobposting.id).where(" compAccept = ? and userAccept = ?", "t", "t").count, 'Match') %>
                        </td>
                      </tr>
                    </table>
                  </div>
              <br>
          <% end %>

          <%= will_paginate @jobpostings %>

      <% else %>
          <h3 align="center"> No job postings made yet.</h3>
        <div align="center">
          <div style="width: 30%;">
            <%= button_to "Post Job", new_job_posting_path, class: "btn btn-primary", method: :get%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
