<div class="accommodate_alert"></div>

<h1 class="profile_title">
  My Jobs
</h1>
<div align="center">
  <div class="row">
    <div style="width: 80%; padding-top: 20px" >

      <% if @company.job_postings.any? %>

          <%= will_paginate @jobpostings %>

          <% @jobpostings.each do |jobposting| %>
              <script>
                $(document).ready(function(){
                    $("#button<%= jobposting.id %>").click(function(){
                        if ($(this).text() == "View Stats") {
                            $(this).text("Hide Stats");
                        } else {
                            $(this).text("View Stats");
                        }
                        $("#stats<%= jobposting.id %>").toggle();
                    });
                });
                //$(document).ready(ready);
                //$(document).on('page:load', ready);
                console.log("Enter");
              </script>
                  <div class="col-md-8 color_1 col-centered" style="margin-bottom: 20px">
                    <div class="col-xs-2 color_3" style="height: 100px; display: none; position: absolute; padding-top: 20px" id="stats<%=jobposting.id %>">
                      <table>
                        <tr>
                          <td>
                            <p class="paragraph_text"><%= pluralize(jobposting.views, 'Job View') %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="paragraph_text"><%= pluralize(Applicant.where(" job_posting_id = ?", jobposting.id).count, 'Applicant') %></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="paragraph_text"><%= pluralize(Applicant.where(" job_posting_id = ?", jobposting.id).where(" 'compAccept' = ? and 'userAccept' = ?", "t", "t").count, 'Match') %></p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div>
                      <table width = 100%>
                        <tr>
                          <td width="50%" class="color_2">
                            <p class="paragraph_text"><strong>Title: </strong><%= jobposting.title %></p>
                          </td>
                          <td width="50%" class="color_2">
                            <p class="paragraph_text"><strong>Location: </strong><%= jobposting.location %>, <%= jobposting.province %></p>
                          </td>
                        </tr>
                        <tr>
                          <br>
                        </tr>
                        <tr>
                          <td align="center" colspan="3">
                            <div class="paragraph_text">
                              <p align="left"><strong>Description: </strong></p>
                              <%= simple_format(make_paragraph(jobposting.description , 80)) %>
                            </div>
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td>
                            <div style="padding: 5px">
                              <%= button_tag "View Stats", class: "btn btn-success button_width", id: "button#{jobposting.id}"%>
                            </div>
                          </td>
                          <td>
                            <div style="padding: 5px">
                              <%= button_to "Edit", edit_job_posting_path(jobposting), class: "btn btn-warning button_width", method: :get%>
                            </div>
                          </td>
                          <td>
                            <div style="padding: 5px">
                              <%= button_to "Remove", jobposting, class: "btn btn-primary button_width", method: :delete%>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
              <br>
          <% end %>

          <%= will_paginate @jobpostings %>

      <% else %>
          <h3 align="center"> No job postings made yet.</h3>
        <div align="center">
          <div style="width: 30%;">
            <%= button_to "Post Job", new_job_posting_path, class: "btn btn-primary", method: :get%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
