<div class="accommodate_alert"></div>

<h1 class="profile_title">Jobs</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for_filterrific @filterrific do |f| %>
        <table>
          <tr>
            <td>
              Search
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %>
            </td>
            <td>
              City
              <%= f.select(:with_location, @filterrific.select_options[:with_location], { include_hidden: false, include_blank: '- Any -' }) %>
            </td>
            <td>
              Job Sector
              <%= f.select(:with_sector, @filterrific.select_options[:with_sector], { include_hidden: false, include_blank: '- Any -' }) %>
            </td>
            <td>
              Sorted by
              <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
            </td>
          </tr>
        </table>
        <div>
          <%= link_to('Reset filters', reset_filterrific_url,) %>
        </div>
        <%# add an automated spinner to your form when the list is refreshed %>
        <%= render_filterrific_spinner %>
    <% end %>

    <%= render(partial: 'job_postings/list', locals: { job_postings: @job_postings }) %>

      <!--%- will_paginate -%>-->


      <!--%- will_paginate -%>-->

  </div>
</div>
