<h1 class="profile_title">Jobs</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= will_paginate %>


        <% @job_postings.each do |job| %>

              <div class="div-back-border">
                <div style="margin-left: 10%">
                  <div>
                    <br>
                  </div>
                  <p><strong>Title: </strong>
                    <%= job.title%>
                  </p>
                  <p><strong>Company: </strong><%= job.company.name %></p>
                  <p><strong>Location: </strong><%= job.location %></p>
                </div>
                <div align="center">
                  <div clas="row">
                    <div style="width: 30%;">
                      <br>
                      <%= button_to "View Job", job, class: "btn btn-primary", method: "get"%>
                      <p></p>
                    </div>
                  </div>
              </div>
                <p class="copyright text-muted small" align="right" style="margin-right: 10%">Posted <%= time_ago_in_words(job.created_at) %> ago.</p>
              </div>
        <div>
          <br>
        </div>

        <% end %>


      <%= will_paginate %>

  </div>
</div>
