<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<div class="container" style="padding-top: 30px">
  <div class="row">
    <div class="col-md-8 col-centered tancolor" style="padding: 0">
      <div style="background-color: black">
        <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">New Job Posting</p>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <div class="col-centered" style="width: 80%">
        <%= form_for(@jobpostings) do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
              <%= f.label :title, "Job Title" %>
              <%= f.text_field :title, placeholder: 'e.g. Certified Public Accountant', class: 'form-control' %>
            </div>

            <table width="100%">
              <tr>
                <td width="50%" style="padding-right: 10px">
                  <div class="form-group">
                    <%= f.label :province %>
                    <%= f.select :province, getProvinces %>
                  </div>
                </td>
                <td width="25%" style="padding-right: 10px">
                  <div class="form-group">
                    <%= f.label :location, "City" %>
                    <%= f.select :location, getCities %>
                  </div>
                </td>
                <td width="25%" style="padding-left: 10px; padding-right: 10px">
                  <div class="form-group">
                    <%= f.label :sector, "Job Sector" %>
                    <%= f.select :sector, getType %>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div class="form-group">
                    <%= f.label :length, "Type/Length of Contract" %>
                    <%= f.text_field :length, placeholder: 'e.g. 3 Month Contract', class: 'form-control'%>
                  </div>
                </td>
                <td width="25%" style="padding-left: 10px">
                  <div class="form-group">
                    <%= f.label :hours, "Hours Per Week" %>
                    <%= f.text_field :hours, placeholder: 'e.g. 15', class: 'form-control' %>
                  </div>
                </td>
              </tr>
            </table>

            <div class="form-group">
              <%= f.label :description, "Job Description" %>
              <%= f.text_area :description, placeholder: 'e.g. Example company is seeking a ...', class: 'form-control', :rows => "10" %>
            </div>


            <div class="center-block" style="display: block; float: none; text-align: center; margin-left: auto; margin-right: auto">
              <%= f.submit "Post", class: "btn btn-primary button_width2" %>
            </div>
        <% end %>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <br>
    </div>
  </div>
</div>
