<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<div class="container-fluid tancolor">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <h1 class="jobindexfont"><%= @jobposting.title.upcase %></h1>
      </div>
    </div>
    <div class="row" style="background-color: #F6F2EC">
      <div class="col-md-2 tancolor" style="height: 200px">

      </div>
      <div class="col-md-2 div_button" style="padding: 0; width: 200px">
        <%= link_to @jobposting.company, class: 'disable_hover' do %>
            <% if @jobposting.company.picture?%>
                <%= image_tag @jobposting.company.picture.url, class: "img-responsive imgbutton", width: 200 %>
            <% else %>
                <%= image_tag "no_company_pic.png", class: "img-responsive imgbutton", width: 200 %>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4" style="padding-top: 10px">
        <% unless current_company.nil? %>
            <div style="padding: 5px">
              <%= button_to "Remove", @jobposting, class: "btn btn-primary btn-lg center-block", method: :delete%>
            </div>
        <% end %>

        <div class="center-block">

          <% unless current_user.nil? || @jobposting.applicants.find_by(user_id: current_user.id)%>
              <%= form_for(@jobposting.applicants.build) do |f| %>
                  <%= hidden_field_tag :job_id, @jobposting.id %>
                  <%= f.submit "Apply", class: "btn btn-primary btn-lg center-block" %>
              <% end %>
          <% end %>

          <% if !current_user.nil? && state(@jobposting) == "Match" %>
              <button class="btn btn-success btn-lg disabled center-block">Matched</button>
          <% elsif !current_user.nil? && state(@jobposting) == "Pending" %>
              <button class="btn btn-warning btn-lg disabled center-block">Pending</button>
          <% end %>

        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-3">
        <p class="jobattributefont" style="text-align: center"><%= @jobposting.company.name %></p>
      </div>
      <div class="col-md-3">
        <p class="jobattributefont" style="text-align: center"><%= @jobposting.location %>, <%= @jobposting.province %></p>
      </div>
      <div class="col-md-3">
        <p class="jobattributefont" style="text-align: center"><%= @jobposting.length %></p>
      </div>
      <div class="col-md-3">
        <p class="jobattributefont" style="text-align: center"><%= pluralize(@jobposting.hours, " Hours") %> Per Week</p>
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
          <h3>Job Description</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
          <div class="paragraph">
            <p class="two-col"><%= @jobposting.description %></p>
          </div>
        </div>
      </div>

</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59614405-1', 'auto');
    ga('send', 'pageview');

</script>