<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" xmlns="http://www.w3.org/1999/html" style="padding-bottom:0px ! important;">
  <div class="container topnav">
    <div class="navbar-header">
      <% if user_logged_in? %>
          <%= link_to image_tag( "horizontal_black.png", height: "45px", style: "margin-top: 2px"), current_user%>
      <% elsif company_logged_in? %>
          <%= link_to image_tag( "horizontal_black.png", height: "45px", style: "margin-top: 2px"), current_company%>
      <% else %>
          <%= link_to image_tag( "horizontal_black.png", height: "45px", style: "margin-top: 2px"), root_path%>
      <% end %>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_logged_in? %>
            <li class="headermenufont"><%= link_to "BROWSE",   joblist_path%></li>
            <li class="headermenufont"><%= link_to "MANAGE",   matched_jobs_users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="headermenufont"><%= link_to "HOME", current_user %></li>
                <li class="headermenufont"><%= link_to "PROFILE", viewprofile_users_path(id: current_user.id) %></li>
                <li class="headermenufont"><%= link_to "EDIT PROFILE", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li class="headermenufont"><a href="mailto:admin@excellara.com">HELP</a></li>
                <li class="headermenufont"><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
              </ul>
            </li>
        <% elsif company_logged_in? %>
            <li class="headermenufont"><%= link_to "POST JOB",   new_job_posting_path %></li>
            <!--<li class="headermenufont"><%= link_to "MY JOBS",   job_postings_path %></li>-->
            <li class="headermenufont"><%= link_to "PROFESSIONALS",   users_path %></li>
            <li class="headermenufont"><%= link_to "MANAGE", activity_companies_path(current_company) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_company.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
            <li class="headermenufont"><%= link_to "HOME", current_company %></li>
            <li class="headermenufont"><%= link_to "PROFILE", viewprofile_companies_path(id: current_company.id) %></li>
            <li class="headermenufont"><%= link_to "EDIT PROFILE", edit_company_path(current_company) %></li>
            <li class="divider"></li>
            <li class="headermenufont"><a href="mailto:admin@excellara.com">HELP</a></li>
            <li class="headermenufont"><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
              </ul>
            </li>
        <% else %>
            <li class="headermenufont"><%= link_to "HOME",   root_path %></li>
            <li class="headermenufont"><%= link_to "CONTACT",   contact_path %></li>
            <li class="headermenufont"><%= link_to "HOW IT WORKS",   how_it_works_path %></li>
            <li class="headermenufont"><%= link_to "LOG IN", login_path %></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="background-color: deepskyblue">SIGN UP<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="headermenufont"><%= link_to "AS PROFESSIONAL", user_signup_path %></li>
                <li class="headermenufont"><%= link_to "AS COMPANY",   company_signup_path %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
</nav>